.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.container {
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container h1{
  width: 40%;
  background: lightgray;
  border-radius: 10px;
  border-right-color: purple;
}
  
.addBtn {
  padding: 7px;
  border: 1px solid purple;
  border-radius: 5px;
}

.delBtn {
  padding: 7px;
  border: 1px solid purple;
  border-radius: 5px;
  margin-right: 5px;
}

.inputText {
  padding: 10px;
    width: 30%;
    border-radius: 5px;
    margin-bottom: 10px;
}