.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px;
}

.container {
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container h1{
  background: lightgray;
  border-radius: 10px;
  border-right-color: purple;
  padding: 25px;
}
  
.addBtn {
  border: 1px solid purple;
  border-radius: 5px;
}

.delBtn {
  border: 1px solid purple;
  border-radius: 5px;
  margin-right: 5px;
}

.inputText {
    padding: 10px;
    width: 130%;
    border-radius: 5px;
    margin: 10px 0px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}